<?xml version="1.0"?>
<!--
/**
 * Magenico DOO Module
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Magenico DOO Module License
 * that is bundled with this package in the file license.pdf.
 * It is also available through the world-wide-web at this URL:
 * http://www.magenico.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to support@magenico.com so we can send you a copy immediately.
 *
 * @category   Magenico
 * @package    Magenico_MasterPassword
 * @copyright  Copyright (c) 2017 Magenico DOO
 * @license    http://www.magenico.com/license
 */
-->

<config>
    <modules>
        <Magenico_MasterPassword>
            <version>1.0.0</version>
        </Magenico_MasterPassword>
    </modules>
    <global>
        <models>
            <magenico_masterpassword>
                <class>Magenico_MasterPassword_Model</class>
            </magenico_masterpassword>
        </models>
		
        <helpers>
            <magenico_masterpassword>
                <class>Magenico_MasterPassword_Helper</class>
            </magenico_masterpassword>
        </helpers>	
    </global>
    <frontend>
        <events>
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <magenico_masterpassword_observer>
                        <type>singleton</type>
                        <class>magenico_masterpassword/observer</class>
                        <method>postdispatchCustomerAccountLoginPost</method>
                    </magenico_masterpassword_observer>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
        </events>
    </frontend>
    <default>
        <magenico_masterpassword>
            <general>
                <active>0</active>
                <debug_enabled>1</debug_enabled>
                <master_password backend_model="adminhtml/system_config_backend_encrypted" />
            </general>
        </magenico_masterpassword>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magenico_masterpassword>
                                            <title>General</title>
                                        </magenico_masterpassword>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
